git rev-parse --verify HEAD

GSL: v4.1.4 (https://github.com/imatix/gsl)
ZPROJECT: d2405f99ea958f062c261f25ec068c78fb1bd697
CZMQ: v3.0.2 (http://github.com/zeromq/czmq)
ZEROMQ: v4.1.3 (https://github.com/zeromq/zeromq4-1)
